/* game-specific variables like colours & sizes */
:root {
    --accent-colour-dblue: #264653; 
    --accent-colour-blue: #2a9d8f; 
    --font: 'Impact';
}

/* removing default margin and padding */ 
* {
	margin: 0; 
	padding: 0; 	
}

body {
	font-family: Impact, Haettenschweiler, sans-serif;
	background-color: black;
	flex-flow: column wrap;
}

/* style for logo */ 
.container {
	width: 100%;
    display: flex;
}

.logo {
    margin: 2vw; 
    padding: 1vw 2vw; 
    border: 0.2vw solid white; 
    border-radius: 50px;
}

.logo h1 {
	color: white;
    font-size: 2vw;
	text-shadow: 0.09em 0.1em var(--accent-colour-dblue); 
}

/* style for login & register */
.content-container {
	width: 100%;
	display: flex;
	flex-direction: row;
    justify-content: center;
}

.login {
	margin: 2vw; margin-left: 4vw; margin-top: 0; 
	width: 40%;
	padding: 1.5vw; padding-left: 4vw;
    color: white;  
    text-align: left; 
    background-color: rgb(255, 255, 255, 0.3);
    font-family: var(--font);
    border: 3px dashed var(--accent-colour-dblue);
}

.register
{
	margin: 2vw; margin-right: 4vw; margin-top: 0;    
	width: 40%;
	padding: 1.5vw; padding-left: 4vw; 
    color: white;  
    text-align: left; 
    background-color: rgb(255, 255, 255, 0.3);
    font-family: var(--font);
    border: 3px dashed var(--accent-colour-dblue);
}


#login_page_text
{
	color: var(--accent-colour-blue); 
	font-size: 2vw;
}


.form_field
{
	margin-bottom: 3vw; margin-top: 0.3vw; 
	width: 70%;
	height: 2vw;
	font-size: 1.3vw;
	color: white;
	border: none; 
	background-color: transparent; 
	border-bottom: 3px dashed var(--accent-colour-dblue);
}

.form_field:focus {
	outline: none;
}


#main_text
{
	font-size: 4.5vw; 
	margin-bottom: 2vw; 
}

#submit_login, #submit_reg
{
	border-radius: 50px; 
	width: 10vw;
	height: 3vw;
    background-color: transparent; 
    border: 0.15em solid white; 
    font-family: var(--font);
    font-size: 1.5em; 
    font-weight: bold;
	color: white;  
	margin-left: 30%;
}
#submit_login:hover, #submit_reg:hover {
    border-color: var(--accent-colour-blue);; 
    color: var(--accent-colour-blue);; 
}
#submit_login:focus, #submit_reg:focus {
    /* gets rid of the default border that stays around the button once it's pressed */
    outline: none; 
    background-color: var(--accent-colour-dblue); 
    color: white;
    border-color: var(--accent-colour-dblue);
}
