/* game-specific variables like colours & sizes */
:root {
    --accent-colour-dblue: #264653; 
    --accent-colour-blue: #2a9d8f; 
    --font: 'Impact';
}

/* removing default margin and padding */ 
* {
	margin: 0; 
	padding: 0; 	
}

body {
	font-family: Impact, Haettenschweiler, sans-serif;
	background-color: black;
	flex-flow: column wrap;
}

/* style for logo */ 
.container {
	width: 100%;
    display: flex;
}

.logo {
    margin: 2vw; 
    padding: 1vw 2vw; 
    border: 0.2vw solid white; 
    border-radius: 50px;
}

.logo h1 {
	color: white;
    font-size: 2vw;
	text-shadow: 0.09em 0.1em var(--accent-colour-dblue); 
}

/* style for login & register */
.content-container {
	width: 100%;
    display: flex;
    justify-content: center;
}

.login
{
	width: 50%;
	padding: 3vw; padding-left: 7vw;
    color: white;  
    text-align: left; 
    background-color: rgb(255, 255, 255, 0.3);
    font-family: var(--font);
    border: 3px dashed var(--accent-colour-dblue);
}

.register
{
	width: 50%;
	padding: 3vw; padding-left: 7vw; 
    color: white;  
    text-align: left; 
    background-color: rgb(255, 255, 255, 0.3);
    font-family: var(--font);
    border: 3px dashed var(--accent-colour-dblue);
}


#login_page_text
{
	color: green; 
	font-size: 30px;
}


.form_field{

	margin-bottom: 40px;
	width: 250px;
	border-radius: 12px;
	font-size: 20px;
	height: 35px;
}

#uname_text
{
	font-size: 30px;
}

#main_text
{
	font-size: 70px;
}
#submit_login
{
	font-size: 20px;
	background-color: #10F75D;
	width: 200px;
	height: 50px;
	position: absolute;
	margin-left: 140px;
	margin-top: 10px;
	border-radius: 12px;
	font-weight: bold;
}
#submit_reg
{
	font-size: 20px;
	background-color: #10F75D;
	width: 200px;
	height: 50px;
	position: absolute;
	margin-left: 140px;
	margin-top: 10px;
	border-radius: 12px;
	font-weight: bold;
}