/* game-specific variables like colours & sizes
if changing the width or height, don't forget to also change in script.js */
:root {
    --canvas-width: 97vw; 
    --canvas-height: 90vh; 
    --accent-colour-lblue: #8ecae6; 
    --accent-colour-blue: #219ebc; 
    --accent-colour-dblue: #023047; 
    --accent-colour-yellow: #ffb703; 
    --accent-colour-orange: #fb8500; 
    --font: 'Verdana'; 
}

* {
    margin: 0; 
    padding: 0; 
}

body {
    height: 98%; 
    width: 100%; 
    /* background-image: linear-gradient(to bottom, #97f9f9, #a4def9, #c1e0f7, #cfbae1, 
    #c59fc9); */
    background-color: white; 
}
/* the "world" the players and obstacles are in, 90vh/vw sets the world to 90% of the screenheight/width */
.canvas {
    width: var(--canvas-width); 
    height: var(--canvas-height);
    margin: auto; margin-top: 2vh; 
    overflow: hidden;
    position: relative;
    border: 3px solid var(--accent-colour-blue); 
    /* background-image: linear-gradient(to top, rgba(61,199,1,0.5), rgba(3,159,1,0.5), 
    rgba(13,170,63,0.5) 30%, rgba(0,212,255,0.5) 100%); */
    background-color:  rgba(33, 157, 188, 0.253); 
    border-radius: 10px; 
}

/* styling the players */ 
.player {
    height: 10vh; 
    width: 10vw; 
    border: 2px solid black; 
    position: relative; 
    top: 80vh; 
    visibility: hidden; 
}



/* animation-class for the obstacle, that will be added to the class when play is pressed */ 
.obstacle-animation {
    animation-name: obstacle-animation; 
    animation-duration: 3s;  
    animation-timing-function: linear; 
    animation-fill-mode: forwards; 
}

@keyframes obstacle-animation {
    0% {top: -50vh}
    100% {top: 100%}
}

.controls {
    width: 20%; 
    margin: auto;
    padding: 8px;  
    display: flex; 
    justify-content: space-evenly;
}

.startButton, .stopButton { 
    padding: 5px;
    width: 40%; 
    border-radius: 30px; 
    border: 3px solid var(--accent-colour-orange); 
    background-color: transparent; 
    font-family: var(--font);
    font-size: 1vw;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--accent-colour-orange);
}

.startButton:focus, .stopButton:focus {
    outline: none; 
}

.startButton:hover, .stopButton:hover {
    background-color: var(--accent-colour-orange);
    color: white; 
}

.startButton:focus, .stopButton:focus {
    background-color: var(--accent-colour-yellow); 
    color: white;
    border: none; 
}



