/* game-specific variables like colours & sizes */
:root {
    --canvas-width: 95vw; 
    --canvas-height: 90vh; 

    /* if those get changed, don't forget to change in script.js as well! */
    --character-width: 5vw;  

    --accent-colour-dblue: #264653; 
    --accent-colour-blue: #2a9d8f; 
    --accent-colour-yellow: #e9c46a; 
    --accent-colour-orange: #f4a261; 
    --accent-colour-red: #e76f51; 
    --font: 'Verdana';
    --button-font-size: 1vw; 
}

/* remove default margin and padding */
* {
    margin: 0; 
    padding: 0; 
}

body {
    height: 98%; 
    width: 100%; 
    background-image: linear-gradient(to bottom, var(--accent-colour-yellow), var(--accent-colour-blue)); 
}

/* responsive div for the game-area
to change the size, change at top under :root {}
overflow is hidden because everything outside this area isn't in the game anymore */
.game {
    width: var(--canvas-width); 
    height: var(--canvas-height);
    margin: auto;
    overflow: hidden;
    position: relative;
    background-color: rgb(255, 255, 255, 0.5); 
    border-radius: 3px; 
}

#character {
    width: var(--character-width);
    height: var(--character-width); 
    bottom: 0; 
    left: 0;
    position: absolute;
    align-self: baseline;
    background-color: green;
}
/* name of the player to be displayed on top of the character */
/* later: get name from database */ 
/* #playerName {
    font-family: var(--font);
    font-size: var(--button-font-size); 
    color: var(--accent-colour-dblue); 
    position: absolute; 
    left: 1; 
    bottom: 4vw; 
} */

/* .test {
    background-color: yellowgreen;
    border-radius: 50%; 
    height: 20vw; 
    width: 20vw; 
    position: absolute;
    top: -0vw; 
} */

.obstacle-animation {
    animation-name: obstacle-animation; 
    animation-duration: 4s;  
    animation-timing-function: linear; 
    animation-fill-mode: forwards; 
}
@keyframes obstacle-animation {
    0% {top: -15vw}
    100% {top: 100%}
}


/* styling for the start- & stop-button */
.controls {
    margin: auto; 
    height: 7vh; width: 95vw; 
    display: flex; 
    justify-content: space-between;
}
.gameControls {
    width: 20%; 
    justify-content: flex-start;
    align-items: center;
    display: flex; 
}
.startButton, .stopButton { 
    margin-right: 1vh; 
    padding: 0.5vw;
    width: 40%; 
    border-radius: 10px; 
    background-color: transparent; 
    border: 2.5px solid var(--accent-colour-dblue); 
    font-family: var(--font);
    font-size: var(--button-font-size);
    text-transform: uppercase;
    font-weight: bold;
    color: var(--accent-colour-dblue);  
}
.startButton:hover, .stopButton:hover {
    background-color: var(--accent-colour-dblue);
    animation-name: sheen;
    color: white; 
}
.startButton:focus, .stopButton:focus {
    /* gets rid of the default border that stays around the button once it's pressed */
    outline: none; 
    background-color: var(--accent-colour-dblue); 
    color: white;
}
.loginControls {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 20%; 
}
#login_button {	
    padding: 0.5vw;
    font-family: var(--font); 
    font-weight: bold;
    font-size: var(--button-font-size); 
    border-radius: 10px;
    border: 2.5px solid var(--accent-colour-dblue); 
    background-color: transparent;
    color: var(--accent-colour-dblue); 
}
#login_button:hover, #submit:hover {
    background-color: var(--accent-colour-blue); 
    border: 2.5px solid var(--accent-colour-blue); 
    color: white; 
}