/* style inspo: https://www.smashingmagazine.com/2012/05/develop-a-one-of-a-kind-cssjs-based-game-portfolio/
https://www.youtube.com/watch?v=RuLRsMN9KJQ

*/

/* game-specific variables like colours & sizes */
:root {
    --canvas-width: 95vw; 
    --canvas-height: 90vh; 

    /* if those get changed, don't forget to change in script.js as well! */
    --character-width: 5vw;  

    --accent-colour-dblue: #264653; 
    --accent-colour-blue: #2a9d8f; 
    --accent-colour-grey: #757575; 
    --accent-colour-dgrey: #383838; 
    --font: 'Impact';
    --button-font-size: 1.2vw; 
}

/* remove default margin and padding */
* {
    margin: 0; 
    padding: 0; 
}

body {
    height: 98%; 
    width: 100%; 
    background-color: black;  
}

#success {
    color: white;
}

/* **************************************************** canvas *************************************************** */
/* responsive div for the game-area
to change the size, change at top under :root {}
overflow is hidden because everything outside this area isn't in the game anymore */
.game {
    width: var(--canvas-width); 
    height: var(--canvas-height);
    margin: auto;
    overflow: hidden; /* to hide the obstacles when they're outside the canvas */
    position: relative;
    background-color: rgb(255, 255, 255, 0.1); 
    border-radius: 3px; 
}


/* ***************************************************** player ************************************************** */
.character {
    width: var(--character-width);
    height: var(--character-width); 
    bottom: 1vw; 
    left: 0;
    position: absolute;
    align-self: baseline;
    border: 3px dashed white;
}
/* name of the player to be displayed on top of the character */
/* later: get name from database */ 
#playerName {
    font-family: var(--font);
    font-size: var(--button-font-size); 
    color: white;  
    position: absolute; 
    bottom: 5.5vw; 
}

/* *************************************************** obstacle ************************************************** */
#obstacle {
    width: 10vw;
    height: 5vh; 
    position: absolute; 
    background-color: white;
    left: 10vw;
    top: -5vh;
}

.obstacle-animation {
    animation-name: obstacle-animation; 
    animation-duration: 2s;  
    animation-timing-function: linear; 
    animation-iteration-count: infinite;
}

@keyframes obstacle-animation {
    0% {top: -15vw}
    100% {top: 100%}
}

/* *************************************************** controls ************************************************** */
/* styling for the start- & stop-button */
.controls {
    margin: auto; 
    height: 7vh; width: 95vw; 
    display: flex; 
    justify-content: space-between;
}
.gameControls {
    width: 20%; 
    justify-content: flex-start;
    align-items: center;
    display: flex; 
}
.startButton, .stopButton { 
    margin-right: 1vh; 
    padding: 0.5vw;
    width: 40%; 
    border-radius: 10px; 
    background-color: transparent; 
    border: 2.5px solid var(--accent-colour-dgrey); 
    font-family: var(--font);
    font-size: var(--button-font-size);
    font-weight: bold;
    color: var(--accent-colour-grey);  
}
.startButton:hover, .stopButton:hover {
    border-color: white; 
    color: white; 
}
.startButton:focus, .stopButton:focus {
    /* gets rid of the default border that stays around the button once it's pressed */
    outline: none; 
    background-color: var(--accent-colour-grey); 
    color: black;
    border-color: var(--accent-colour-grey);
}
.loginControls {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 20%; 
}
#login_button {	
    padding: 0.5vw;
    font-family: var(--font); 
    font-weight: bold;
    font-size: var(--button-font-size); 
    border-radius: 10px;
    border: 2.5px solid var(--accent-colour-dblue); 
    background-color: transparent;
    color: var(--accent-colour-dblue); 
}
#login_button:hover, #submit:hover { 
    border: 2.5px solid var(--accent-colour-blue); 
    color: var(--accent-colour-blue); 
}


/* ************************************************* mobile-screens ************************************************ */
/* @media only screen and (max-device-width: 900px) {
    .body{
    }  

    .game{
        
    } 

    .controls{
        display: none;
    } 
}  */