/* game-specific variables like colours & sizes */
:root {
    --canvas-width: 95vw; 
    --canvas-height: 90vh; 

    /* if those get changed, don't forget to change in script.js as well! */
    --character-width: 5vw;  

    --accent-colour-dblue: #264653; 
    --accent-colour-blue: #2a9d8f; 
    --accent-colour-grey: #757575; 
    --accent-colour-dgrey: #383838; 
    --font: 'Impact';
    --button-font-size: 1.2vw; 
}

/* remove default margin and padding */
* {
    margin: 0; 
    padding: 0; 
}

body {
    height: 98%; 
    width: 100%; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: black; 
}

/* **************************************************** message ************************************************** */
/* styling for the Game Over message and the logo */
.layer {
    width: 100%; /* width and height should be 100% to span over the whole screen */
    height: 100%;
    position: absolute; 
    z-index: 2; /* increase the z-index to lift this layer above the background */
    display: flex; /* set the display property to flexbox */ 
    flex-direction: column;
}

.container {
    width: 100%;
    display: flex;
}

/* style for logo */ 
.logo {
    margin-top: 2vw; margin-left: 2vw;
    padding: 1vw 2vw; 
    border: 0.2vw solid white; 
    border-radius: 50px;
    z-index: 300;
}
.logo h1 {
    color: white;
    font-size: 2vw;
    text-shadow: 0.09em 0.1em var(--accent-colour-dblue); 
}

#message {
    color: white; 
    margin: auto; margin-top: 0;
    padding-top: 5vh; 
    height: 70vh; 
    width: 60vw; 
    text-align: center; 
    background-color: rgb(255, 255, 255, 0.3);
    font-family: var(--font);
    border: 3px dashed var(--accent-colour-dblue);
}

#message h1 {
    font-size: 20vh; 
    text-shadow: 0.08em 0.1em var(--accent-colour-dblue); 
}

#message p {
    font-size: 5vh; 
    color: var(--accent-colour-blue);  
}

.gameControls {
    justify-content: space-evenly; 
    display: flex; 
    height: 10vh;
    margin-top: 15vh; 
}
.playAgain{ 
    border-radius: 50px; 
    width: 10vw;
    background-color: transparent; 
    border: 0.15em solid white; 
    font-family: var(--font);
    font-size: 1.5em; 
    font-weight: bold;
    color: white;  
}
.playAgain:hover{
    border-color: var(--accent-colour-dblue);; 
    color: var(--accent-colour-dblue);; 
}
.playAgain:focus{
    /* gets rid of the default border that stays around the button once it's pressed */
    outline: none; 
    background-color: var(--accent-colour-dblue); 
    color: white;
    border-color: var(--accent-colour-dblue);
}


/* **************************************************** canvas *************************************************** */
/* responsive div for the game-area
to change the size, change at top under :root {}
overflow is hidden because everything outside this area isn't in the game anymore */
.game {
    width: var(--canvas-width); 
    height: var(--canvas-height);
    margin: auto;
    background-color: rgb(255, 255, 255, 0.1); 
    border-radius: 3px; 
    position: relative;
    top: 6vh; 
    z-index: -1; 
}


/* ***************************************************** player ************************************************** */
#character {
    width: var(--character-width);
    height: var(--character-width); 
    bottom: 1vw; 
    left: 0;
    position: absolute;
    align-self: baseline;
    border: 3px dashed var(--accent-colour-grey);
    z-index: -1; 
}
/* name of the player to be displayed on top of the character */
/* later: get name from database */ 
#playerName {
    font-family: var(--font);
    font-size: var(--button-font-size); 
    color: var(--accent-colour-grey);  
    bottom: 5.5vw; 
    z-index: -1; 
    position: absolute;
}